@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: #686868
    
}

/* logo & headings */

h1, h2 {
    font-family: Cormorant Garamond, sans-serif;
    letter-spacing: 3px;
    color: #ffffff;

}

header a {
    text-decoration: none;
}

#logo {
    border-top: solid #000000;
    margin-top: 20px;
    text-align: center;
    font-size: 340%;

}

#slogan {
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 230%;
    border-bottom: solid #000000;
}

/* navigation */

#menu {
    text-align: center;
    font-size: 120%;
    letter-spacing: 3px;
    margin-top: 5px;
}

#menu li {
    display: inline;
    list-style-type: none;
    padding: 0px 15px;
}

#menu a {
    text-decoration: none;
    color: #000000;
}

#menu a:hover {
    border-bottom: 1px solid #000000;
}
    
.active {
    border-bottom: 1px solid #000000;
}

/* banner */ 

#mlk-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#mlk-banner {
    height: 600px;
    width: 100%;
    background: url('../images/mlk-banner.png') no-repeat center center;
 

    /* animation for zoom on banner */
    animation-name: banner-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 1s

}

/* level of zoom for banner */ 
@keyframes banner-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.985);
    }
}

/* biography section */

#biography {
    text-align: center;
    border: 1px solid #282828;
    background-color: #282828;
    padding: 5px;
    margin: 20px 15px;
}

#biography h2 {
    font-size: 200%;
    border-bottom: solid #000000;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#biography p {
    font-size: 120%;
}